.footer{
    max-width: 100%;
    background-color:black;
}

.title{
    text-align:center

}

.title h5 {
    margin-top: 20px;
    color: aliceblue;
}

.title span {
    color: aliceblue;
    /* text-align:center; */
}

.image {
    margin-top: 40px;
    padding-left: 105px;
}



.image a {
   
    padding-left: 30px;
    width: 50px;
}