/* contenedor general lado izquierdo */
.background {
  background-color: #202330;
  width: 100vw;
  height: 100vh;
  display: flex;
  
}

/* contenedor general lado derecho */
.contGlobo {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7b84aa;
  border-radius: 3005% 0% 0% 50%; 
  position: relative;
}


  /*contenedor titulo y parrafo  */
  .contTile {
    justify-self: center;
  }
  
  .CardTitle {
    padding-left: 120px;

    display:grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
    
  .Title {
    font-size: clamp(6rem, 1rem + 10vw, 2rem);
    font-weight: 500;
    font-family: "Rubi" sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    color: #fcfcfc;
    align-content: center;
    margin-top: 30px;
  }
  .parrafo {
    font-family: "Rubik", sans-serif;
    margin-top: 30px;
    color: rgb(255, 255, 255);
  }

  /* contenedor button */

  .GlobalButton{
    margin-top: 35px;
    padding-left: 245px;
  }
  
  .button {
    font-family: "Rubik", sans-serif;
    color: rgb(255, 255, 255);
    background-color: #3d0fe4;
    font-weight: 700;
    min-height: 40px;
    min-width: 150px;
    border-radius: 2rem;
    cursor: pointer;
    border: none;
    
  }
  .button:hover {
    background-color: #15f077;
  }

  /* contenedor links */
  .links{
    margin-top: 35px;
    padding-left: 200px;
  }
  
  .linkedin {
    max-height: 40px;
    max-width: 40px;
    background-color: #868686;
    border-radius: 100%;
    padding: 5px;
    
  }
  
  .linkedin:hover {
    background-color: #15f077;
  }
  
  .github {
    max-height: 40px;
    max-width: 40px;
    background-color: #868686;
    border-radius: 100%;
    padding: 5px;
    margin-left: 10px;
    
  }
  
  .github:hover {
    background-color: #15f077;
  }

  .img{
    width: 5px;
    height: 5px;
    /* position:static; */
 
}
  
.contGloboImg{
  margin-top: 180px;
  width: 450px;
  height: 450px;
  border-radius: 100%;
}