.navbar-nav{
    padding-left: 300px;
    font-size: 18px
}

.container-fluid h3{
    padding-left:70px;
}



.NavDrop {
    padding-left: 180px;
    color: rgb(233, 128, 29);
}

.nav-link{
    color:aqua;
}